In [21]:
# Libraries
import pandas as pd

In [22]:
pd.set_option('display.max_columns', None)

In [23]:
# Importing Student Performance Dataset from UC Irvine Machine Learning Dataset

In [24]:
df = pd.read_csv("./datasets/UC_Irvine_Machine_Learning_Repository/student-mat.csv", delimiter=';')

In [25]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [26]:
df.shape

(395, 33)

In [33]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [27]:
# Importing Student Performance Metrics Dataset from Mendeley Data

In [28]:
df_a = pd.read_csv("./datasets/Student_Performance_Metrics_Dataset/ResearchInformation3.csv")

In [29]:
df_a.head()

,Department,Gender,HSC,SSC,Income,Hometown,Computer,Preparation,Gaming,Attendance,Job,English,Extra,Semester,Last,Overall
0,Business Administration,Male,4.17,4.84,"Low (Below 15,000)",Village,3,More than 3 Hours,0-1 Hour,80%-100%,No,3,Yes,6th,3.220,3.350
1,Business Administration,Female,4.92,5.00,"Upper middle (30,000-50,000)",City,3,0-1 Hour,0-1 Hour,80%-100%,No,3,Yes,7th,3.467,3.467
2,Business Administration,Male,5.00,4.83,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,More than 3 Hours,80%-100%,No,4,Yes,3rd,4.000,3.720
3,Business Administration,Male,4.00,4.50,"High (Above 50,000)",City,5,More than 3 Hours,More than 3 Hours,80%-100%,No,5,Yes,4th,3.800,3.750
4,Business Administration,Female,2.19,3.17,"Lower middle (15,000-30,000)",Village,3,0-1 Hour,2-3 Hours,80%-100%,No,3,Yes,4th,3.940,3.940

In [35]:
df_a.shape

(493, 16)

In [36]:
df_a.isnull().sum()

Department     0
Gender         0
HSC            0
SSC            0
Income         0
Hometown       0
Computer       0
Preparation    0
Gaming         0
Attendance     0
Job            0
English        0
Extra          0
Semester       0
Last           0
Overall        0
dtype: int64

In [37]:
# Importing dataset from Harvard Dataverse

In [44]:
df_b = pd.read_excel("./datasets/Harvard_Dataverse_Medellin_Colombia/md_medellin_2.xlsx")

In [45]:
df_b.head()

,Puntaje_Lectura_Critica,INSE,Expectativas,Comunicacion,Participacion,Seguridad,COLE_COD_DANE_ESTABLECIMIENTO,ALTO_Desempeño,BNSE,Genero,Lectura_por_entretenimiento,Navegar_en_internet,Jornada_del_EE,COLE_COD_DANE_SEDE,BNSE10,BNSE12_5,BNSE15,BNSE17_5,BNSE22_5,BNSE25,BNSE27_5,BNSE30
0,54,45.461721,0.371169,1.164174,-0.760142,0.603666,105001012106,0,Percentil 20 o menor del INSE,Masculino,no leo,más de 1 hora en internet,Noche_o_sabatina,105001012106,Mayor al percentil 10 del INSE,"Mayor al percentil 12,5 del INSE",Mayor al percentil 15 del INSE,"Percentil 17,5 o menor del INSE","Percentil 22,5 o menor del INSE",Percentil 25 o menor del INSE,"Percentil 27,5 o menor del INSE",Percentil 30 o menor del INSE
1,45,64.795750,0.371169,1.164174,-0.760142,0.603666,105001012106,0,Mayor al percentil 20 del INSE,Masculino,entre 30 y 60 minutos,entre 30 y 60 minutos en internet,Completa_o_unica,105001012106,Mayor al percentil 10 del INSE,"Mayor al percentil 12,5 del INSE",Mayor al percentil 15 del INSE,"Mayor al percentil 17,5 del INSE","Mayor al percentil 22,5 del INSE",Mayor al percentil 25 del INSE,"Mayor al percentil 27,5 del INSE",Mayor al percentil 30 del INSE
2,59,52.222075,-0.203507,0.016060,0.403903,-0.507657,105001000981,0,Mayor al percentil 20 del INSE,Femenino,más de 1 hora,entre 30 y 60 minutos en internet,Mañana,105001000981,Mayor al percentil 10 del INSE,"Mayor al percentil 12,5 del INSE",Mayor al percentil 15 del INSE,"Mayor al percentil 17,5 del INSE","Mayor al percentil 22,5 del INSE",Mayor al percentil 25 del INSE,"Mayor al percentil 27,5 del INSE",Mayor al percentil 30 del INSE
3,52,45.391220,-0.002238,0.031451,0.664649,0.447080,105001026701,0,Percentil 20 o menor del INSE,Femenino,30 minutos o menos,entre 30 y 60 minutos en internet,Mañana,105001026701,Mayor al percentil 10 del INSE,"Mayor al percentil 12,5 del INSE",Mayor al percentil 15 del INSE,"Percentil 17,5 o menor del INSE","Percentil 22,5 o menor del INSE",Percentil 25 o menor del INSE,"Percentil 27,5 o menor del INSE",Percentil 30 o menor del INSE
4,69,55.020961,-0.809962,-0.587238,0.503235,-0.823003,105001003425,1,Mayor al percentil 20 del INSE,Masculino,no leo,más de 1 hora en internet,Tarde,105001003425,Mayor al percentil 10 del INSE,"Mayor al percentil 12,5 del INSE",Mayor al percentil 15 del INSE,"Mayor al percentil 17,5 del INSE","Mayor al percentil 22,5 del INSE",Mayor al percentil 25 del INSE,"Mayor al percentil 27,5 del INSE",Mayor al percentil 30 del INSE

In [46]:
df_b.shape

(16656, 22)

In [47]:
df_b.isnull().sum()

Puntaje_Lectura_Critica          0
INSE                             0
Expectativas                     0
Comunicacion                     0
Participacion                    0
Seguridad                        0
COLE_COD_DANE_ESTABLECIMIENTO    0
ALTO_Desempeño                   0
BNSE                             0
Genero                           0
Lectura_por_entretenimiento      0
Navegar_en_internet              0
Jornada_del_EE                   0
COLE_COD_DANE_SEDE               0
BNSE10                           0
BNSE12_5                         0
BNSE15                           0
BNSE17_5                         0
BNSE22_5                         0
BNSE25                           0
BNSE27_5                         0
BNSE30                           0
dtype: int64

In [ ]:
# Importing Higher Education Students Performance Evaluation dataset from UC Irvine Machine Learning Repository

In [49]:
df_c = pd.read_csv("./datasets/UC_Irvine_Machine_Learning_Repository/Higher_Education_Students_Performance_Evaluation/DATA (1).csv")

In [53]:
df_c.head(20)

,STUDENT ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,1,1,2,3,1,2,5,3,2,2,1,1,1,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,1,2,3,2,1,2,1,2,2,2,1,1,1,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,2,2,2,2,1,2,1,2,1,2,1,1,1,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,2,1,2,5,1,2,1,3,1,2,1,1,1,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,4,3,3,2,1,2,4,2,1,1,1,1,1,2,1,2,2,2,1,2,2,1,1
5,STUDENT6,2,2,2,3,2,2,2,2,1,1,3,3,2,1,2,3,1,1,2,1,1,1,1,1,1,2,1,2,4,4,1,2
6,STUDENT7,1,2,2,4,2,2,2,1,1,3,1,3,1,1,2,4,2,2,2,2,1,2,1,1,3,3,3,3,4,4,1,5
7,STUDENT8,1,1,2,3,1,1,1,2,2,3,4,3,1,1,4,3,1,2,2,1,1,1,3,1,3,2,2,1,1,1,1,2
8,STUDENT9,2,1,3,3,2,1,1,1,1,3,2,4,2,1,2,4,1,2,2,1,1,1,1,1,3,2,2,2,4,3,1,5
9,STUDENT10,2,1,2,3,2,2,1,3,4,2,1,2,3,1,2,3,2,2,2,1,1,2,1,1,2,2,2,2,1,2,1,0
10,STUDENT11,1,1,1,3,2,2,2,3,2,3,3,4,2,1,3,2,1,1,1,1,1,2,1,1,2,2,2,2,1,1,1,2
11,STUDENT12,1,1,1,4,1,1,2,4,2,3,5,5,1,1,3,2,3,3,3,1,3,1,3,2,3,1,3,3,4,3,1,0
12,STUDENT13,1,1,1,4,2,2,2,1,1,1,3,5,4,2,2,2,3,2,2,1,1,1,1,1,2,2,2,3,4,2,1,0
13,STUDENT14,2,1,2,5,2,2,2,1,1,1,2,2,2,1,2,3,1,2,1,1,1,2,1,1,3,2,3,3,4,2,1,1
14,STUDENT15,3,2,2,4,1,1,2,3,4,2,3,1,2,1,4,1,2,2,2,1,1,1,1,1,2,3,2,1,4,4,1,2
15,STUDENT16,2,2,2,3,2,2,2,1,1,2,4,4,2,1,3,1,2,2,2,2,3,2,1,1,3,2,2,3,2,2,1,2
16,STUDENT17,1,1,2,5,2,1,2,1,1,1,2,2,4,1,2,3,2,2,2,1,1,2,1,1,3,2,3,3,4,3,1,1
17,STUDENT18,2,2,2,3,2,2,2,1,1,1,2,2,2,1,2,1,2,2,2,2,1,2,1,1,2,2,2,2,2,2,1,2
18,STUDENT19,1,1,2,4,2,2,2,3,1,1,2,2,5,1,2,5,5,3,2,2,1,2,1,1,3,1,3,3,3,3,1,2
19,STUDENT20,1,2,1,3,2,2,1,2,2,2,3,3,3,1,2,4,4,2,2,1,2,1,1,1,3,2,2,3,2,3,1,3

In [51]:
df_c.shape

(145, 33)

In [52]:
df_c.isnull().sum()

STUDENT ID    0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
8             0
9             0
10            0
11            0
12            0
13            0
14            0
15            0
16            0
17            0
18            0
19            0
20            0
21            0
22            0
23            0
24            0
25            0
26            0
27            0
28            0
29            0
30            0
COURSE ID     0
GRADE         0
dtype: int64

In [66]:
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Load the data
data = pd.read_csv('./datasets/UC_Irvine_Machine_Learning_Repository/Higher_Education_Students_Performance_Evaluation/DATA (1).csv')

# Split features and target
X = data.iloc[:, 1:-2]  # All columns except STUDENT ID, COURSE ID, and GRADE
y = data['GRADE']

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Make predictions
y_pred = rf_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Initial model accuracy: {accuracy:.4f}")
print(classification_report(y_test, y_pred))

# Hyperparameter tuning
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(RandomForestClassifier(random_state=42), param_grid, cv=5, n_jobs=-1)
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_
print("Best parameters:", grid_search.best_params_)

# Evaluate the best model
y_pred_best = best_model.predict(X_test)
accuracy_best = accuracy_score(y_test, y_pred_best)
print(f"Best model accuracy: {accuracy_best:.4f}")
print(classification_report(y_test, y_pred_best))

# Feature importance
feature_importance = best_model.feature_importances_
feature_names = X.columns
sorted_idx = np.argsort(feature_importance)
top_10_features = feature_names[sorted_idx][-10:]

print("Top 10 most important features:")
for feature in top_10_features[::-1]:
    print(feature)

# Final optimized model
X_optimized = X[top_10_features]
X_train_opt, X_test_opt, y_train, y_test = train_test_split(X_optimized, y, test_size=0.2, random_state=42)

final_model = RandomForestClassifier(**grid_search.best_params_, random_state=42)
final_model.fit(X_train_opt, y_train)

y_pred_final = final_model.predict(X_test_opt)
accuracy_final = accuracy_score(y_test, y_pred_final)
print(f"Final optimized model accuracy: {accuracy_final:.4f}")
print(classification_report(y_test, y_pred_final))

Initial model accuracy: 0.1724
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.16      1.00      0.27         3
           2       0.00      0.00      0.00         4
           3       0.40      0.33      0.36         6
           4       0.00      0.00      0.00         3
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         4
           7       0.00      0.00      0.00         2

    accuracy                           0.17        29
   macro avg       0.07      0.17      0.08        29
weighted avg       0.10      0.17      0.10        29

D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\model_selection\_split.py:805: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Best parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Best model accuracy: 0.1724
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.16      1.00      0.27         3
           2       0.00      0.00      0.00         4
           3       0.40      0.33      0.36         6
           4       0.00      0.00      0.00         3
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         4
           7       0.00      0.00      0.00         2

    accuracy                           0.17        29
   macro avg       0.07      0.17      0.08        29
weighted avg       0.10      0.17      0.10        29

Top 10 most important features:
29
12
11
30
13
16
28
17
4
25
Final optimized model accuracy: 0.1724
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         4
           1       0.21      1.00      0.35         3
           2       0.00      0.00      0.00         4
           3       0.33      0.33      0.33         6
           4       0.00      0.00      0.00         3
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         4
           7       0.00      0.00      0.00         2

    accuracy                           0.17        29
   macro avg       0.07      0.17      0.09        29
weighted avg       0.09      0.17      0.11        29

D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
D:\AP-Research\venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))