In [1]:
# Download dependencies here

In [2]:
# Importing the libraries 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
%store -r df

In [5]:
df.head()

,HSC,SSC,Income,Hometown,Computer,Preparation,Gaming,Attendance,Job,English,Extra,Semester,Last,Overall,Department_Business Administration,Department_Computer Science and Engineering,Department_Economics,Department_Electrical and Electronic Engineering,Department_English,"Department_Journalism, Communication and Media Studies",Department_Law and Human Rights,Department_Political Science,Department_Public Health,Department_Sociology,Gender_Female,Gender_Male
0,4.17,4.84,0.0,0.0,3,2.0,0.0,3.0,0.0,3,1.0,4.0,3.220,3.350,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4.92,5.00,2.0,1.0,3,0.0,0.0,3.0,0.0,3,1.0,5.0,3.467,3.467,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5.00,4.83,1.0,0.0,3,0.0,2.0,3.0,0.0,4,1.0,1.0,4.000,3.720,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.00,4.50,3.0,1.0,5,2.0,2.0,3.0,0.0,5,1.0,2.0,3.800,3.750,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2.19,3.17,1.0,0.0,3,0.0,1.0,3.0,0.0,3,1.0,2.0,3.940,3.940,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
X = df.drop(columns=['Overall'])
y = df['Overall']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r2}")

Root Mean Squared Error: 0.23225502539712214
R-squared: 0.8555086965567427